
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="\assets\stylesheets\bootstrap3.3.7\css\bootstrap.css">
        <style type="text/css">

        </style>
    </head>
    <body>

        <!--slide-->

        <!--end slide-->
        <div class="container-fluid">
            <!--tab-->
            <!DOCTYPE html>
            <html lang="en">
                <head>
                    <title>Bootstrap Example</title>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                </head>
                <body>


<!--best seller-->
                    <div class="panel panel-warning" style="background-color: white;">
                        <div class="panel-heading" style="background-color: #1E95CD; height: 35px; color: white"><p style="" >
                            <span class="glyphicon glyphicon-star" style="color: yellow;"></span>Best Seller</div>
                        <div class="panel-body">
                            <a href="Apptestshow">สินค้าคงเหลือในสต๊อคสินค้า</a>
            <!--1-->
        <div class="row" style="text-align: center;">
         <div class="col-md-4">
             <div class="panel panel-default">
                 <div class="panel-heading">Canon EOS M10 Kit 15-45mm(Black)</div>
                 <div class="panel-body"> <img src="assets\images\c1.jpg " width="150px;" height="auto">
                     <p>Price: 16,990 บาท</p>



                     <!-- Trigger the modal with a button -->
                     <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                         <!-- popup -->
                     <div class="modal fade" id="myModal" role="dialog">
                         <div class="modal-dialog">

                                 <!-- Modal content-->
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <h4 class="modal-title">Detail Canon EOS M10 Kit 15-45mm(Black)</h4>
                                 </div>
                                 <div class="modal-body">
                                     <img src="assets\images\c1.jpg" width="200px;">
                                     <p>Canon EOS M10 Kit 15-45mm(Black)</p>
                                     Color	No<br>
                                     Weight	No<br>
                                     Website	No<br>
                                     Brand	CANON<br>
                                     Type	MIRRORLESS<br>
                                     Megapixels	18<br>
                                     Image Sensor Type	APS-C CMOS<br>
                                     File Formats	JPEG, RAW<br>
                                     Storage Media	SD/SDHC/SDXC<br>
                                     Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                     Battery Life	No<br>
                                     Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                     Weight	301 g<br>
                                     Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                     Color Available	No<br>
                                     Min.SIO	100<br>
                                     Max.ISO	12800<br>
                                     Scene Mode	No<br>
                                     Shutter Speed (fastest)	1/4000 sec<br>
                                     Shutter Speed (lowest)	30 sec<br>
                                     Continuous Shooting	4.6 fps<br>
                                     Lens Mount	Canon EF-M<br>
                                     Lens Compatibility	No<br>
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                 </div>
                             </div>

                         </div>
                     </div>
                     <!--end-->
                 </div>
             </div>
         </div>
                <!----------------------------------------------end camera-------------------------------------------->

                <!--2-->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Nikon D7500 Kit 18-140mm</div>
                        <div class="panel-body"> <img src="assets\images\img_Nikon\detailnikon-1.jpg" width="150px;" height="auto">
                            <p>Price: 49,990 บาท</p>
                                <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                                <!-- popup -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                        <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Detail Nikon D7500 Kit 18-140mm</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets\images\img_Nikon\detailnikon-1.jpg" width="150px;">
                                            <p>Nikon D7500 Kit 18-140mm</p>
                                            Color	No<br>
                                            Weight	No<br>
                                            Website	No<br>
                                            Brand	NIKON<br>
                                            Type	MIRRORLESS<br>
                                            Megapixels	18<br>
                                            Image Sensor Type	APS-C CMOS<br>
                                            File Formats	JPEG, RAW<br>
                                            Storage Media	SD/SDHC/SDXC<br>
                                            Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                            Battery Life	No<br>
                                            Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                            Weight	301 g<br>
                                            Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                            Color Available	No<br>
                                            Min.SIO	100<br>
                                            Max.ISO	12800<br>
                                            Scene Mode	No<br>
                                            Shutter Speed (fastest)	1/4000 sec<br>
                                            Shutter Speed (lowest)	30 sec<br>
                                            Continuous Shooting	4.6 fps<br>
                                            Lens Mount	Canon EF-M<br>
                                            Lens Compatibility	No<br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                <!--end-->
                        </div>
                    </div>
                </div>
                <!----------------------------------------------end camera-------------------------------------------->

                <!--3-->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Casio Exilim ZR3600 (white)</div>
                    <div class="panel-body"> <img src="assets\images\img_Casio\detailcasio-01.jpg" width="150px;" height="auto">
                        <p>Price: 14,000 บาท</p>
                            <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                            <!-- popup -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                    <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Detail Casio Exilim ZR3600 (white)</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="assets\images\img_Casio\detailcasio-01.jpg" width="150px;">
                                        <p>Casio Exilim ZR3600 (white)</p>
                                        Color	No<br>
                                        Weight	No<br>
                                        Website	No<br>
                                        Brand	NIKON<br>
                                        Type	MIRRORLESS<br>
                                        Megapixels	18<br>
                                        Image Sensor Type	APS-C CMOS<br>
                                        File Formats	JPEG, RAW<br>
                                        Storage Media	SD/SDHC/SDXC<br>
                                        Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                        Battery Life	No<br>
                                        Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                        Weight	301 g<br>
                                        Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                        Color Available	No<br>
                                        Min.SIO	100<br>
                                        Max.ISO	12800<br>
                                        Scene Mode	No<br>
                                        Shutter Speed (fastest)	1/4000 sec<br>
                                        Shutter Speed (lowest)	30 sec<br>
                                        Continuous Shooting	4.6 fps<br>
                                        Lens Mount	Canon EF-M<br>
                                        Lens Compatibility	No<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!--end-->
                    </div>
                </div>
            </div>
                <!----------------------------------------------end camera-------------------------------------------->

                <!--4-->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Olympus E-M10 Mark III Kit 14-42 mm(silver)</div>
                    <div class="panel-body"> <img src="assets\images\img_Olympus\detailOlympus-01.jpg" width="150px;" height="auto">
                        <p>Price: 29,900 บาท</p>
                            <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                            <!-- popup -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                    <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Detail Olympus E-M10 Mark III Kit 14-42 mm(silver)</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="assets\images\img_Olympus\detailOlympus-01.jpg" width="150px;">
                                        <p>Olympus E-M10 Mark III Kit 14-42 mm(silver)</p>
                                        Color	No<br>
                                        Weight	No<br>
                                        Website	No<br>
                                        Brand	NIKON<br>
                                        Type	MIRRORLESS<br>
                                        Megapixels	18<br>
                                        Image Sensor Type	APS-C CMOS<br>
                                        File Formats	JPEG, RAW<br>
                                        Storage Media	SD/SDHC/SDXC<br>
                                        Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                        Battery Life	No<br>
                                        Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                        Weight	301 g<br>
                                        Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                        Color Available	No<br>
                                        Min.SIO	100<br>
                                        Max.ISO	12800<br>
                                        Scene Mode	No<br>
                                        Shutter Speed (fastest)	1/4000 sec<br>
                                        Shutter Speed (lowest)	30 sec<br>
                                        Continuous Shooting	4.6 fps<br>
                                        Lens Mount	Canon EF-M<br>
                                        Lens Compatibility	No<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!--end-->
                    </div>
                </div>
            </div>
                <!----------------------------------------------end camera-------------------------------------------->


                <!--5-->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Sony A9 (Body)</div>
                    <div class="panel-body"> <img src="assets\images\img_Sony\detailsony-01.jpg" width="150px;" height="auto">
                        <p>Price: 49,990 บาท</p>
                            <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                            <!-- popup -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                    <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Detail Sony A9 (Body)</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="assets\images\img_Sony\detailsony-01.jpg" width="150px;">
                                        <p>Sony A9 (Body)</p>
                                        Color	No<br>
                                        Weight	No<br>
                                        Website	No<br>
                                        Brand	NIKON<br>
                                        Type	MIRRORLESS<br>
                                        Megapixels	18<br>
                                        Image Sensor Type	APS-C CMOS<br>
                                        File Formats	JPEG, RAW<br>
                                        Storage Media	SD/SDHC/SDXC<br>
                                        Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                        Battery Life	No<br>
                                        Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                        Weight	301 g<br>
                                        Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                        Color Available	No<br>
                                        Min.SIO	100<br>
                                        Max.ISO	12800<br>
                                        Scene Mode	No<br>
                                        Shutter Speed (fastest)	1/4000 sec<br>
                                        Shutter Speed (lowest)	30 sec<br>
                                        Continuous Shooting	4.6 fps<br>
                                        Lens Mount	Canon EF-M<br>
                                        Lens Compatibility	No<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!--end-->
                    </div>
                </div>
            </div>
                <!----------------------------------------------end camera-------------------------------------------->


                <!--6-->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Sony Alpha a7R III (body)</div>
                    <div class="panel-body"> <img src="assets\images\img_Sony\detailsony-02.jpg" width="150px;" height="auto">
                        <p>Price: 120,000 บาท</p>
                            <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                            <!-- popup -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                    <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Detail Sony Alpha a7R III (body)</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img src="assets\images\img_Sony\detailsony-02.jpg" width="150px;">
                                        <p>Sony Alpha a7R III (body)</p>
                                        Color	No<br>
                                        Weight	No<br>
                                        Website	No<br>
                                        Brand	NIKON<br>
                                        Type	MIRRORLESS<br>
                                        Megapixels	18<br>
                                        Image Sensor Type	APS-C CMOS<br>
                                        File Formats	JPEG, RAW<br>
                                        Storage Media	SD/SDHC/SDXC<br>
                                        Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                        Battery Life	No<br>
                                        Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                        Weight	301 g<br>
                                        Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                        Color Available	No<br>
                                        Min.SIO	100<br>
                                        Max.ISO	12800<br>
                                        Scene Mode	No<br>
                                        Shutter Speed (fastest)	1/4000 sec<br>
                                        Shutter Speed (lowest)	30 sec<br>
                                        Continuous Shooting	4.6 fps<br>
                                        Lens Mount	Canon EF-M<br>
                                        Lens Compatibility	No<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!--end-->
                    </div>
                </div>
            </div>
                <!----------------------------------------------end camera-------------------------------------------->

            </div>
            </div></div>  <!--END best seller-->
    </body>
</html>