<html>
    <head>
        <title></title>
        <style type="text/css">
            header {
                width:100%;
                height: 200px;
            }
        </style>
    </head>
    <body >
        <header><center><img src="assets\images\logo.gif" align="center" width="150" ></center>
        <center><h2>WELCOME TO T&L SHOP</h2></center></header>
<div class="row" style="background-color: white; height: 70px;">
    <div class="col-md-12">

            <ul class="nav navbar-nav" style="text-decoration: dotted;">
                <li><a href="/">Home </a></li>
                <li><a href="product">Product </a></li>
                <li><a href="order">Order </a></li>
                <li><a href="promotion">Promotion</a></li>
            </ul>


    </div>
</div>
    </body>
</html>