
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="\assets\stylesheets\bootstrap3.3.7\css\bootstrap.css">
        <style type="text/css">

        </style>
    </head>
    <body>
        <div class="container-fluid"  >
            <div class="row" >
                <div class="col-md-12"  margin: 0; padding-top:0px; height:50px;">
                @header()
                </div>
            </div>

            <div class="row" >
                <div class="col-md-12">
                @menu()
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-12" >
                    @content()

                    </div>
</div>
            </div>

            <div class="row">
                <div class="col-md-12" style="background-color: inherit;"></div>
            </div>

        </div>


    </body>
</html>