@()
<html>
    <head>
        <title>
            Sells Product
        </title>
        <link rel="stylesheet" type="text/css" href="\assets\stylesheets\bootstrap3.3.7\css\bootstrap.css">

    </head>
    <body>
        <div class="container-fluid">

            <div class="row" style="text-align: center;">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Canon EOS M10 Kit 15-45mm(Black)</div>
                        <div class="panel-body"> <img src="assets\images\c1.jpg " width="150px;" height="auto">
                            <p>Price: 16,990 บาท</p>



                                <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                                <!-- popup -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                        <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Detail Canon EOS M10 Kit 15-45mm(Black)</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets\images\c1.jpg" width="200px;">
                                            <p>Canon EOS M10 Kit 15-45mm(Black)</p>
                                            Color	No<br>
                                            Weight	No<br>
                                            Website	No<br>
                                            Brand	CANON<br>
                                            Type	MIRRORLESS<br>
                                            Megapixels	18<br>
                                            Image Sensor Type	APS-C CMOS<br>
                                            File Formats	JPEG, RAW<br>
                                            Storage Media	SD/SDHC/SDXC<br>
                                            Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                            Battery Life	No<br>
                                            Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                            Weight	301 g<br>
                                            Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                            Color Available	No<br>
                                            Min.SIO	100<br>
                                            Max.ISO	12800<br>
                                            Scene Mode	No<br>
                                            Shutter Speed (fastest)	1/4000 sec<br>
                                            Shutter Speed (lowest)	30 sec<br>
                                            Continuous Shooting	4.6 fps<br>
                                            Lens Mount	Canon EF-M<br>
                                            Lens Compatibility	No<br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                <!--end-->
                        </div>
                    </div>
                </div>
                    <!----------------------------------------------end camera-------------------------------------------->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Nikon D7500 Kit 18-140mm</div>
                        <div class="panel-body"> <img src="assets\images\img_Nikon\detailnikon-1.jpg" width="150px;" height="auto">
                            <p>Price: 49,990 บาท</p>
                                <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                                <!-- popup -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                        <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Detail Nikon D7500 Kit 18-140mm</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets\images\img_Nikon\detailnikon-1.jpg" width="150px;">
                                            <p>Nikon D7500 Kit 18-140mm</p>
                                            Color	No<br>
                                            Weight	No<br>
                                            Website	No<br>
                                            Brand	NIKON<br>
                                            Type	MIRRORLESS<br>
                                            Megapixels	18<br>
                                            Image Sensor Type	APS-C CMOS<br>
                                            File Formats	JPEG, RAW<br>
                                            Storage Media	SD/SDHC/SDXC<br>
                                            Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                            Battery Life	No<br>
                                            Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                            Weight	301 g<br>
                                            Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                            Color Available	No<br>
                                            Min.SIO	100<br>
                                            Max.ISO	12800<br>
                                            Scene Mode	No<br>
                                            Shutter Speed (fastest)	1/4000 sec<br>
                                            Shutter Speed (lowest)	30 sec<br>
                                            Continuous Shooting	4.6 fps<br>
                                            Lens Mount	Canon EF-M<br>
                                            Lens Compatibility	No<br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                <!--end-->
                        </div>
                    </div>
                </div>
                    <!----------------------------------------------end camera-------------------------------------------->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Casio Exilim ZR3600 (white)</div>
                        <div class="panel-body"> <img src="assets\images\img_Casio\detailcasio-01.jpg" width="150px;" height="auto">
                            <p>Price: 14,000 บาท</p>
                                <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Detail</button>

                                <!-- popup -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                        <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Detail Casio Exilim ZR3600 (white)</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets\images\img_Casio\detailcasio-01.jpg" width="150px;">
                                            <p>Casio Exilim ZR3600 (white)</p>
                                            Color	No<br>
                                            Weight	No<br>
                                            Website	No<br>
                                            Brand	NIKON<br>
                                            Type	MIRRORLESS<br>
                                            Megapixels	18<br>
                                            Image Sensor Type	APS-C CMOS<br>
                                            File Formats	JPEG, RAW<br>
                                            Storage Media	SD/SDHC/SDXC<br>
                                            Power Supply	LP-E12 Rechargeable Lithium-ion Battery Pack, 7.2 VDC, 875 mAh<br>
                                            Battery Life	No<br>
                                            Screen Size	3" Rear Touchscreen Tilting LCD<br>
                                            Weight	301 g<br>
                                            Dimensions	108.0 x 66.6 x 35.0 mm<br>
                                            Color Available	No<br>
                                            Min.SIO	100<br>
                                            Max.ISO	12800<br>
                                            Scene Mode	No<br>
                                            Shutter Speed (fastest)	1/4000 sec<br>
                                            Shutter Speed (lowest)	30 sec<br>
                                            Continuous Shooting	4.6 fps<br>
                                            Lens Mount	Canon EF-M<br>
                                            Lens Compatibility	No<br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                <!--end-->
                        </div>
                    </div>
                </div>
                    <!----------------------------------------------end camera-------------------------------------------->



               <!--  <div class="col-md-4">
eeee
                </div>
                    <!----------------------------------------------end camera-------------------------------------------->

            </div>
      </div>
    </body>
</html>